<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="yatishSettings">
		<title>Yatish settings</title>
		<parent_arg>0</parent_arg>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<rows>5</rows>
			<object class="sizeritem">
				<object class="wxStaticText" name="wxID_ANY" variable="StaticText1" member="no">
					<label>Logging:</label>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="idCheckBoxLog" variable="checkBoxLog" member="yes">
					<label>main frame</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
					<label>Timeslot:</label>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="idCheckBoxLimit" variable="checkBoxLimit" member="yes">
					<label>limit list</label>
					<handler function="OnCheckBoxLimitClick" entry="EVT_CHECKBOX" />
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
					<label>Row limit:</label>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="idSpinCtrlLimit" variable="spinCtrlLimit" member="yes">
					<value>100</value>
					<min>10</min>
					<max>1000</max>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="wxID_ANY" variable="StaticText4" member="no">
					<label>Charts:</label>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="idChoiceLib" variable="choiceLib" member="yes">
					<content>
						<item>wxFreeChart</item>
						<item>wxCharts</item>
					</content>
					<enabled>0</enabled>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="wxID_CANCEL" variable="buttonCancel" member="no" />
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="wxID_OK" variable="buttonOK" member="no" />
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
