<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="yatishSettings">
		<title>Yatish settings</title>
		<parent_arg>0</parent_arg>
		<id_arg>0</id_arg>
		<exstyle>wxWS_EX_VALIDATE_RECURSIVELY</exstyle>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxNotebook" name="idNotebook" variable="notebook" member="no">
					<object class="notebookpage">
						<object class="wxPanel" name="idPanelGUI" variable="panelGUI" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
								<cols>2</cols>
								<rows>4</rows>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
										<label>Logging:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="idCheckBoxLog" variable="checkBoxLog" member="yes">
										<label>main frame</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
										<label>Timeslot:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="idCheckBoxLimit" variable="checkBoxLimit" member="yes">
										<label>limit list</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
										<label>Row limit:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSpinCtrl" name="idSpinCtrlLimit" variable="spinCtrlLimit" member="yes">
										<value>100</value>
										<min>10</min>
										<max>1000</max>
										<size>125,-1</size>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
										<label>Charts:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="idChoiceLib" variable="choiceLib" member="yes">
										<content>
											<item>wxMathPlot</item>
											<item>wxFreeChart</item>
											<item>wxCharts</item>
										</content>
										<selection>0</selection>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>GUI</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="idPanelPDF" variable="panelPDF" member="no">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
										<label>Company</label>
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer4" member="no">
												<object class="sizeritem">
													<object class="wxRadioButton" name="idRadioButtonName" variable="radioButtonName" member="yes">
														<label>Name</label>
														<style>wxRB_GROUP</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="idTextCtrlName" variable="textCtrlName" member="yes">
														<size>120,-1</size>
													</object>
													<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer5" member="no">
												<object class="sizeritem">
													<object class="wxRadioButton" name="idRadioButtonLogo" variable="radioButtonLogo" member="yes">
														<label>Logo</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="spacer">
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxButton" name="idButtonLogo" variable="buttonLogo" member="yes">
														<label>File...</label>
														<handler function="OnButtonLogoClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer6" member="no">
												<object class="sizeritem">
													<object class="wxCheckBox" name="idCheckBoxMotto" variable="checkBoxMotto" member="yes">
														<label>Motto</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="idTextCtrlMotto" variable="textCtrlMotto" member="yes">
														<size>120,-1</size>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="idCheckBoxPDFcharts" variable="checkBoxPDFcharts" member="yes">
										<label>with charts</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
						</object>
						<label>PDF</label>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CANCEL" variable="buttonCancel" member="no" />
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_OK" variable="buttonOK" member="no" />
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
